#cap1 {
width: 250px;
border-radius: 15px;
}

#cap2 {
  width: 100px;
  height: 100px;
  object-fit: fill;
  object-position: center;
}

#cap3 {
  width: 200px;
  height: 200px;
  border-radius: 100px;
  object-fit: cover;
  object-position: center;
}